<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link rel="stylesheet" href="vendors/fxos.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body role="application" ng-app="fxgtask" ng-csp>
  <section data-type="sidebar">
    <header>
      <h1>Menu</h1>
    </header>
    <nav>
      <ul ng-controller="TasklistsController">
        <li ng-repeat="tasklist in tasklists"><a ng-href="/tasklist/{{ tasklist.id }}">{{ tasklist.title }}</a></li>
      </ul>
      <h2>Logistics</h2>
      <ul>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/login">Login via Google</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="">Code</a></li>
      </ul>
    </nav>
  </section>

  <section id="drawer" role="region" ng-controller="HeaderController" ng-class="{retracted: retracted}">
    <header class="fixed">
      <a href="" ng-click="toggleSidebar()"><span class="icon icon-menu"></span></a>

      <menu type="toolbar">
        <button><span class="icon icon-add">add</span></button>
      </menu>
      <h1 id="title">FireGTask</h1>
    </header>
    <br />
    <article class="content scrollable header">
      <ng-view></ng-view>
    </article>
  </section>

  <div ng-controller="ToastController">
    <section role="status" ng-class="{onviewport: displayed, hidden: !displayed, 'has-icon': showclose}">
      <a href="" class="close icon" ng-show="showclose" ng-click="untoast()">&times;</a>
      <p ng-bind-html-unsafe="html"></p>
    </section>
  </div>

  <script type="text/javascript" src="js/settings.js"></script>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  {% for script in scripts %}<script src="{[ script ]}"></script>
  {% endfor %}
</body>
</html>